[submodule "software/fpga/migen"]
	path = software/fpga/migen
	url = https://git.m-labs.hk/M-Labs/migen.git
[submodule "software/fpga/misoc"]
	path = software/fpga/misoc
	url = https://git.m-labs.hk/M-Labs/misoc.git
